[phases.setup]
nixPkgs = ["nodejs_20"]

[phases.install]
cmds = ["npm install", "cd backend && npm install", "cd frontend && npm install"]

[phases.build]
cmds = ["npm run build"]

[start]
cmd = "npm run migrate && npm start"
